### Import your libraires

In [11]:
import pandas as pd
from pathlib import Path

In [12]:
##Import the bitstamp_data from our resources directory
##Set the DateTime Index
## Parse Dates = Treat Dates as Dates = True
## Infer Datetime = Read different formats = True

In [18]:
bitstamp_df = pd.read_csv(Path("../Resources/bitstamp.csv"),
                         index_col = "Timestamp",
                         parse_dates = True,
                         infer_datetime_format = True)
bitstamp_df.head()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13681.04,13681.04,13637.93,$13646.48,3.334553,45482.128785,13639.647479
2018-01-01 00:01:00,13646.48,13658.75,13610.18,$13658.75,2.663188,36361.390888,13653.332816
2018-01-01 00:02:00,13616.93,13616.93,13610.06,$13610.22,0.084653,1152.144036,13610.136247
2018-01-01 00:03:00,13610.27,13639.09,13610.27,$13639.09,7.182986,97856.416478,13623.361128
2018-01-01 00:04:00,13635.35,13636.35,13620.00,$13620.0,1.069665,14582.660932,13632.923329

In [14]:
##Import the coinbase_data from our resources directory
##Set the DateTime Index

In [19]:
coinbase_df = pd.read_csv(Path("../Resources/coinbase.csv"),
                          index_col = "Timestamp",
                          parse_dates = True,
                          infer_datetime_format = True)
coinbase_df.head()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13620.00,13620.00,13608.49,$13608.49,20.812754,283451.08537,13619.105106
2018-01-01 00:01:00,13607.14,13607.14,13601.66,$13601.66,13.474359,183283.97801,13602.426919
2018-01-01 00:02:00,13601.44,13601.44,13580.00,$13580.0,11.536360,156789.19686,13590.872506
2018-01-01 00:03:00,13587.31,13587.31,13542.70,$13550.34,16.328039,221413.64182,13560.332806
2018-01-01 00:04:00,13550.34,13585.95,13550.34,$13583.44,9.955364,135141.26944,13574.719401